/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$light-color: #FFF;

$base-color: #8A2BE2;
$font-family: 'RobotoRegular', Verdana;
$color: #000;

